/* Design System */
/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
/* ^Montserrat and Source Sans Pro */

/* Colours */
/* - Fonts */
.colours {
  color: #F4F4F4; /* Main Fonts */
  color: #FAD900; /* Secondary Fonts */
  color: #FFC837; /* Second Orange */
  color: #141518; /* Main Background */
}

/* - Additional Colours */
.colours__additional {
  color: #FAD900; /* Some Bottom Borders */
  color: #18191D; /* 1st Bcg Support (Darkest) */
  color: #2A2C31; /* 2nd Bcg Support (Darker) */
  color: #484C56; /* 3nd Bcg Support (Dark) */
  color: #EB5757; /* red colour */
}

/* Button */
.button-wrap {
  max-width: 200px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(#FFC837, #FF8008);
  padding: 3px;
}

/* Native Styles */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #141518;
  overflow-x: hidden;
  box-sizing: border-box;
}

nav {
  min-height: 100px;
  width: 90%;
}

footer {
  width: 100%;
  border-bottom: 20px solid #FAD900;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  /* Description style */
  margin: 0;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  letter-spacing: 0.02em;
  color: #F4F4F4;
}

ul {
  margin: 0;
  padding: 0;
}

ul > li {
  margin: 0;
  padding: 0;
}

h1 {
  /* Main Section Headings, like ABOUT US, OFFER */
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
  line-height: 91px;
  color: #DDDDDD;
}

h3 {
  /* Mainly Headings of sub-sections */
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.125em; 
  color: #F4F4F4;
}

h4 {
  /* Nav Headings */
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #F4F4F4;
}

h5 {
  /* Headings in Footer */
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #F4F4F4;
}

h6 {
  margin: 0;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.125em;
  color: #F4F4F4;
}

figure {
  margin: 0;
}

i {
  margin: 0 10px 0 0;
}

a {
  color: #F4F4F4;
  text-decoration: none;
}

a:hover {
  color: #FAD900;
  transition: 0.2s ease-in;
}

/* there was main lol */

.container-hero, .container-about-us, .container-offer, .container-contact {
  width: 100%;
  box-sizing: border-box;
}

/* Margin/Padding Class Control */

.m-75 {
  margin: 75px 0 75px 0;
}

.w-85 {
  max-width: 85%;
}

.p-5 {
  padding: 15px 0 5px 0;
}

/* Styling */

.p--rodo {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #F4F4F4;
}

.p--footer {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: #F4F4F4;
}

.p--buttons {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #F4F4F4;
  padding: 0 20px 0 20px;
}

.button-wrap {
  display: flex;
  justify-content: flex-start;
}

.button-wrap--rev {
  display: flex;
  justify-content: flex-end;
}

.mini-nav {
  list-style: none;
}

.mini-nav > li {
  padding: 3px 0 3px 0;
}

.underline--left::after {
  content: "";
  width: 50px;
  height: 5px;
  position: absolute;
  background: #FFC837;
}

.underline--right::after {
  content: "";
  width: 50px;
  height: 5px;
  position: absolute;
  background: #FFC837;
}

.underline--right-footer::after {
  content: "";
  width: 43px;
  height: 5px;
  position: absolute;
  margin: 30px 50px 0 -135px;
  background: #FFC837;
}

.underline--right-footer-contact::after {
  content: "";
  width: 43px;
  height: 5px;
  position: absolute;
  margin: 30px 50px 0 -185px;
  background: #FFC837;
}

.underline--right-nav::after {
  content: "";
  width: 50px;
  height: 5px;
  position: absolute;
  margin: 30px 50px 0 -50px;
  background: #FFC837;
}

.underline--right-nav-menu::after {
  content: "";
  width: 20px;
  height: 5px;
  position: absolute;
  margin: 30px 50px 0 -18px;
  background: #FFC837;
}

.underline--right-follow::after {
  content: "";
  width: 50px;
  height: 5px;
  position: absolute;
  margin: 30px 0 0 -50px;
  background: #FFC837;
}

.underline--left-title::after {
  content: "";
  width: 50px;
  height: 5px;
  position: absolute;
  margin: 35px 0 0 -420px;
  background: #FFC837;
}

.underline--left-section::after {
  content: "";
  width: 60px;
  height: 12px;
  position: absolute;
  margin: 95px 0 0 -247px;
  background: #FFC837;
}

.underline--left-section-menu::after {
  content: "";
  width: 70px;
  height: 12px;
  position: absolute;
  margin: 95px 0 0 -240px;
  background: #FFC837;
}

.underline--left-section-offer::after {
  content: "";
  width: 110px;
  height: 12px;
  position: absolute;
  margin: 95px 0 0 -315px;
  background: #FFC837;
}

.underline--left-section-contact::after {
  content: "";
  width: 115px;
  height: 12px;
  position: absolute;
  margin: 95px 0 0 -375px;
  background: #FFC837;
}

/* Nav Styles */

.pointer {
  cursor: pointer;
}

.navbar {
  z-index: 1;
  width: 100%;
  margin: 75px auto 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.075em;
  color: #F4F4F4;
  list-style: none;
}

.nav-items > li::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  margin: 15px 0 0 -40px;
  border: 3px solid #FAD900;
  border-radius: 10px 10px 10px 10px;
}

.nav-items > li:hover:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 3px;
  margin: 20px 0 0 -40px;
  transition: 0.2s linear;
  background-color: #FAD900;
}

.nav__callus {
  display: flex;
  flex-flow: row nowrap;
}

.nav__menu-switcher {
  display: flex;
  flex-flow: row nowrap;
}

.menu {
  display: flex;
  visibility: hidden;
  position: fixed;
  bottom: 0;
  top: 0;
  flex-flow: column nowrap;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: 0.3s linear;
  background-color: #141518;
  z-index: 99;
}

.menu__content {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.menu__lock-scroll {
  overflow: hidden;
}


.menu__active {
  visibility: visible;
  transition: 0.3s linear;
  opacity: 1;
}

.menu__close {
  width: 70px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAD900;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.menu__close:hover {
  transition: 0.2s linear;
  background-color: #FFC837;
}

.menu__close-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: baseline;
}

.menu__close-content > p {
  margin: 20px 0 0 0;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 1em;
  font-weight: medium;
  color: #000000;
}

/* Main/Sections Styles*/

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-2col{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.container-hero {
  display: flex;
  flex-flow: column nowrap;
  padding: 250px 0 0 0;
  background-image: url("../media/hero-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__logotype {
  margin: 100px 0 260px 0;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.hero__logotype::before {
  content: "";
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0;
  right: -430px;
  margin: -25px auto 0 auto;
  border: 20px dashed #484C56;
  background: rgba(0,0,0, 0.0);
  z-index: -1;
}

.hero__logotype::after {
  content: "";
  position: absolute;
  width: 240px;
  height: 240px;
  left: 0;
  right: -430px;
  margin: -70px auto 0 auto;
  border: 20px dashed #2A2C31;
  background: rgba(0,0,0, 0.0);
  z-index: -2;
}

.hero__follow {
  display: flex;
  position: absolute;
  left: 8%;
  top: 400px;
}

.hero__encour {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.hero__tag {
  width: 320px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #18191D;
  mix-blend-mode: normal;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23FFC837FF' stroke-width='3' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.hero__tag::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 80px;
  margin: 80px -100px 0 0;
  background: linear-gradient(180deg, rgba(255, 128, 8, 0.2) 0%, rgba(255, 200, 55, 0.2) 100%);
  mix-blend-mode: normal;
  z-index: -1;
}

.container-about-us {
  background-image: url("../media/home-aboutus-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 100px 0;
}

.about-us__map {
  display: flex;
  align-items: center;
}

.about-us__content-wrap {
  max-width: 445px;
  margin: 0 0 30px 100px;
}

.about-us__content-wrap > h3 {
  margin-bottom: 15px;
}

.heading {
  margin: 80px 0 80px 0;
}

.button {
  max-width: 250px;
  height: 50px;
  margin: 40px 0 40px 0;
  display: block;
  text-align: center;
  line-height: 50px;
  background: #141518;
  border: 2px solid #FFC837;
}

.about-us__content::after {
  content: "";
  position: absolute;
  width: 455px;
  height: 305px;
  margin: -450px 0 0 150px;
  background-image: url("../media/rockets-on-rectangle.svg");
  background-repeat: no-repeat;
  z-index: -1;
}

.map-shadow::before {
  content: "";
  position: absolute;
  width: 880px;
  height: 80px;
  margin: 530px 0 0 -930px;
  background-image: url("../media/map-shadow.svg");
  background-repeat: no-repeat;
  z-index: -1;
}

.elipses::before {
  content: "";
  width: 620px;
  height: 620px;
  left: 0;
  margin: 0 0 0 -310px;
  position: absolute;
  background-image: url("../media/big-elipse.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.elipses::after {
  content: "";
  width: 320px;
  height: 320px;
  left: 0;
  margin: 0 0 0 -160px;
  position: absolute;
  background-image: url("../media/small-elipse.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.container-offer {
  background-image: url("../media/home-offer-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.offer__content > h3 {
  margin: 45px 0 45px 0;
}

.offer__tiles-wrapper {
  max-width: 550px;
  min-height: 550px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.offer__tile {
  display: block;
  position: relative;
  max-width: 205px;
  max-height: 180px;
  padding: 10px;
  margin: 20px 0 0 0;
}

.offer__tile::before {
  content: '';
  position: absolute;
  top: 60px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: solid 3px #484C56;
  border-top: none;
  border-radius: 0 0 10px 10px;
}

.offer__tile::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 60px;
  right: 0px;
  bottom: 60px;
  border: solid 3px #484C56;
  border-left: none;
  border-bottom: none;
  border-radius: 0 10px 0 0;
}

.offer__tile:hover:before {
  transition: 0.2s ease-in;
  border-bottom: solid 3px  #FFC837;
  border-left: solid 3px  #FFC837;
  border-right: solid 3px  #FFC837;
}

.offer__tile:hover:after {
  transition: 0.2s ease-in;
  border-top: solid 3px  #FFC837;
  border-right: solid 3px  #FFC837;
}

.offer__tile:nth-child(even) {
  margin: 60px 0 0 30px;
}

.offer__tile-icon {
  position: absolute;
  margin: -40px 0 0 -40px;
  padding: 10px;
}

.offer__tile-icon > img:hover {
  fill: #FFC837;
}

.offer__tile > h6 {
  text-align: center;
  margin: 15px 0 0 0;
}

.offer__tile > p {
  margin: 20px 15px 15px 15px;
}

.offer__content-desc {
  max-width: 485px;
  margin: 40px 0 40px 0;
}

.offer__content::after {
  content: "";
  position: absolute;
  width: 640px;
  height: 420px;
  margin: -930px 0 0 -50px;
  background-image: url("../media/home-offer-rockets.svg");
  background-repeat: no-repeat;
  z-index: -1;
}

.offer__heading > h1{
  margin: 50px 200px 0 0;
}

.offer__heading::before {
  content: "";
  width: 300px;
  height: 100px;
  position: absolute;
  left: 0;
  right: -45%;
  margin: 390px auto 0 auto;
  border: 20px dashed #484C56;
  background: rgba(0,0,0, 0.0);
  z-index: -1;
}

.offer__heading::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 200px;
  left: 0;
  right: -45%;
  margin: 200px auto 0 auto;
  border: 20px dashed #2A2C31;
  background: rgba(0,0,0, 0.0);
  z-index: -2;
} 

.triangles::before {
  content: "";
  width: 435px;
  height: 892px;
  right: 0;
  margin: -180px 0 0 0;
  position: absolute;
  background-image: url("../media/big-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.triangles::after {
  content: "";
  width: 232px;
  height: 475px;
  right: 0;
  margin: 28px 0 0 0;
  position: absolute;
  background-image: url("../media/small-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.container-contact {
  margin: 100px 0 0 0;
  background-image: url("../media/truckroad.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  overflow-x: hidden;
}

/* ####################### */
/* przy pisaniu RWD ->>>> 
dodaj tutaj media które ustawiają ją na cover powyżej 1920px B) */
/* ####################### */

.wrapper__home-contact {
  display: flex;
  justify-content: space-around;
}

.wrapper__home-contact::before {
  content: "";
  width: 1576px;
  height: 385px;
  right: 0;
  margin: 395px 0 0 0;
  position: absolute;
  background-image: url("../media/home-truck-union.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
} /* tutaj ten duży */

.wrapper__home-contact::after {
  content: "";
  width: 479px;
  height: 319px;
  right: 0;
  margin: 275px 0 0 0;
  position: absolute;
  background-image: url("../media/home-truck-union-smallhelper.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
} /* tutaj ten mniejszy  */

.triangles-contact::before {
  content: "";
  width: 435px;
  height: 892px;
  left: 0;
  margin: 0 0 0 0;
  position: absolute;
  transform: scaleX(-1);
  background-image: url("../media/big-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.triangles-contact::after {
  content: "";
  width: 232px;
  height: 475px;
  left: 0;
  margin: 215px 0 0 0;
  position: absolute;
  transform: scaleX(-1);
  background-image: url("../media/small-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.contact__form {
  padding: 0 0 350px 0;
}

.contact__form-heading {
  margin: 0 0 80px 0;
}

.contact__form-styling {
  display: flex;
  flex-flow: column wrap;
  max-width: 425px;
}

input[type=text], input[type=mail], textarea {
  background: none;
  border: none;
  border-bottom: 2px solid #FFC837;
  width: 100%;
  padding: 10px 0 10px 0;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: #F4F4F4;
}

.double-label {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.form-rodo {
  padding: 25px 0 0 0;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: #F4F4F4;
}

.form-rodo__checkbox {
  appearance: none;
  padding: 6px;
  margin: 0 5px 0 0;
  border: 1px solid #FFC837;
  position: relative;
}

.form-rodo__checkbox:checked:after {
  content: "x";
  font-size: 15px;
  color: #FFC837;
  text-align: center;
  line-height: 5px;
  position: absolute;
  right: 0.2em;
  top: 0.1em;
}

input[type="submit"] {
  width: 200px;
  height: 50px;
  margin: 40px 0 40px 0;
  display: block;
  text-align: center;
  line-height: 50px;
  background: #141518;
  border: 2px solid #FFC837;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: #F4F4F4;
}

.contact__error-box, .contact__send-box {
  position: absolute;
  margin: 350px 0 0 0;
  background-color: #141518;
  padding: 20px 20px 20px 30px;
  border-radius: 10px 10px 10px 10px;
}

.contact__error-box > p:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  margin: 10px 0 0 -15px;
  background-color: red;
}

.contact__send-box > p:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  margin: 10px 0 0 -15px;
  background-color: green;
}

/* Footer Styles */

.footer__wrapper{
  min-height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0 auto;
}

.footer__copyright {
  margin: 0 20% 0 0;
}

.footer__contact {
  margin: -30px 0 0 15%;
}

.footer__quick-nav {
  margin: 20px 0 0 100px;
}

.footer__contact > h5 {
  margin-bottom: 32px;
}

.footer__quick-nav > h5 {
  margin-bottom: 32px;
}

.footer--span {
  color: #EB5757;
}

/* Map */

.map {
  width: 960px;
  height: 475px;
  position: relative;
}

.map__markers {
  position: absolute;
  z-index: 9;
  margin: 50px 0 0 140px;
  transition: 0.2s linear;
  pointer-events: none;
}

.map__north-america {
  position: absolute;
  width: 418px;
  height: 286px;
}

.map__europe {
  position: absolute;
  width: 170px;
  height: 187px;
  margin: 20px 0 0 380px;
}

.map__europe:hover, .map__north-america:hover, .map__asia:hover, .map__south-america:hover, .map__africa:hover, .map__australia:hover  {
  filter: brightness(0.5);
  stroke: #FFC837;
  stroke-width: 10px;
  transition: 0.2s ease-in;
}

.map__asia {
  position: absolute;
  width: 441px;
  height: 320px;
  margin: 14px 0 0 512px;
}

.map__south-america {
  position: absolute;
  width: 125px;
  height: 201px;
  margin: 270px 0 0 230px;
}

.map__africa {
  position: absolute;
  width: 181px;
  height: 203px;
  margin: 201px 0 0 398px;
}

.map__australia {
  position: absolute;
  width: 176px;
  height: 137px;
  margin: 300px 0 0 750px;
}

.bottom-bar--unactive {
  display: none !important;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  display: none;
  flex-flow: row nowrap;
  width: 100%;
  height: 100px;
  border-top: 3px solid #FFC837;
  background-color: #141518;;
  z-index: 99;
}

.bottom-bar--unactive {
  display: none;
}

.bottom-bar__contact {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-bar__menu {
  width: 50%;
  height: 100%;
}

.bottom-bar__menu > a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-bar__contact > a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media */

/* FHD correction - cover images */
@media only screen and (max-width: 1920px) {
  .footer__copyright {
    margin: 0 0 0 0; 
  }
  .footer__contact {
    margin: -30px 0 0 0;
  }
}

/* Notebooks */
@media only screen and (max-width: 1200px) {
  .footer__logotype {
    width: 50%;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
  }
  .footer__copyright {
    width: 50%;
    padding: 20px 0 20px 0;
  }
  .footer__contact {
    width: 50%;
    padding: 20px 0 20px 0;
    margin: 0 0 0 0;
    text-align: center;
  }
  .footer__contact > p:first-of-type {
      margin: 0 50px 0 0;
  }
  .footer__contact > p {
    margin: 0 0 0 40px;
  }
  .footer__quick-nav {
    width: 50%;
    padding: 20px 0 20px 0;
    margin: 0 0 0 0;
    text-align: center;
  }
}

/* Big tablets */
@media only screen and (max-width: 1024px) {
  .hero__follow {
    visibility: hidden;
  }
  h1 {
    font-size: 60px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px
  }
  h6 {
    font-size: 14px;
  }
  .underline--left-section::after {
    margin: 85px 0 0 -205px;
  }
  .underline--left-title::after {
    margin: 35px 0 0 -350px;
  }
  .underline--left-section-offer::after {
    margin: 85px 0 0 -250px;
  }
  .underline--left-section-contact::after {
    margin: 85px 0 0 -300px;
  }
  .underline--right-footer-contact::after {
    margin: 30px 50px 0 -165px;
  }
  .underline--right-footer::after {
    margin: 30px 50px 0 -120px;
  }
  .underline--left-section-menu::after {
    margin: 85px 0 0 -190px;
  }
  .map {
    display: none;
  }
  .map-shadow {
    display: none;
  }
  .offer__heading {
    order: 0;
    margin: 0 0 50px 0;
  }
  .offer__content {
    order: 1;
  }
  .footer__wrapper {
    justify-content: center;
  }
}

/* Phablets/Tablets */
@media only screen and (max-width: 768px) {
  .bottom-bar {
    display: flex;
  }
  .menu__content > .nav__callus {
    visibility: hidden;
  }
  .footer__wrapper {
    flex-flow: column nowrap;
    margin: 0 auto 100px auto;
  }
  .footer__logotype {
    width: 100%;
  }
  .footer__copyright {
    width: 100%;
    text-align: center;
  }
  .footer__contact {
    width: 100%;
  }
  .footer__quick-nav {
    width: 100%;
    margin: 0 40px 0 0;
  }
  .footer__contact > p:first-of-type {
    margin: 0 30px 0 0;
  }
  .footer__contact > p {
    margin: 0 0 0 60px;
  }
}

/* Phone 6"+ */
@media only screen and (max-width: 576px) {

}

/* Phone 5"+ */
@media only screen and (max-width: 480px) {

}

/* Smallest Phone about 5" */
@media only screen and (max-width: 320px) {

}