/* Design System */
/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
/* ^Montserrat and Source Sans Pro */

/* Colours */
/* - Fonts */
.colours {
  color: #F4F4F4; /* Main Fonts */
  color: #FAD900; /* Secondary Fonts */
  color: #141518; /* Main Background */
}

/* - Additional Colours */
.colours__additional {
  color: #FAD900; /* Some Bottom Borders */
  color: #18191D; /* 1st Bcg Support (Darkest) */
  color: #2A2C31; /* 2nd Bcg Support (Darker) */
  color: #484C56; /* 3nd Bcg Support (Dark) */
  color: #EB5757; /* red colour */
}

/* Button */
.button-wrap {
  max-width: 200px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(#FFC837, #FF8008);
  padding: 3px;
}

/* Native Styles */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #141518;
}

nav {
  min-height: 100px;
  width: 90%;
}

footer {
  width: 100%;
  border-bottom: 20px solid #FAD900;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  /* Description style */
  margin: 0;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  letter-spacing: 0.02em;
  color: #F4F4F4;
}

ul {
  margin: 0;
  padding: 0;
}

ul > li {
  margin: 0;
  padding: 0;
}

h1 {
  /* Main Section Headings, like ABOUT US, OFFER */
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
  line-height: 91px;
  color: #DDDDDD;
}

h3 {
  /* Mainly Headings of sub-sections */
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.125em; 
  color: #F4F4F4;
}

h4 {
  /* Nav Headings */
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #F4F4F4;
}

h5 {
  /* Headings in Footer */
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #F4F4F4;
}

h6 {
  margin: 0;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.125em;
  color: #F4F4F4;
}

figure {
  margin: 0;
}

i {
  margin: 0 10px 0 0;
}

a {
  color: #F4F4F4;
  text-decoration: none;
}

a:hover {
  color: #FAD900;
  transition: 0.2s ease-in;
}

/* there was main lol */

/* Margin/Padding Class Control */

.m-75 {
  margin: 75px 0 75px 0;
}

.w-85 {
  max-width: 85%;
}

.p-5 {
  padding: 15px 0 5px 0;
}

/* Styling */

.p--rodo {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #F4F4F4;
}

.p--footer {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: #F4F4F4;
}

.p--buttons {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #F4F4F4;
}

.mini-nav {
  list-style: none;
}

.mini-nav > li {
  padding: 3px 0 3px 0;
}

.underline--left::after {
  content: "";
  width: 50px;
  height: 5px;
  position: absolute;
  background: #FFC837;
}

.underline--right::after {
  content: "";
  width: 50px;
  height: 5px;
  position: absolute;
  background: #FFC837;
}

.underline--right-footer::after {
  content: "";
  width: 43px;
  height: 5px;
  position: absolute;
  margin: 30px 50px 0 -135px;
  background: #FFC837;
}

.underline--right-footer-contact::after {
  content: "";
  width: 43px;
  height: 5px;
  position: absolute;
  margin: 30px 50px 0 -185px;
  background: #FFC837;
}

.underline--right-nav::after {
  content: "";
  width: 50px;
  height: 5px;
  position: absolute;
  margin: 30px 50px 0 -50px;
  background: #FFC837;
}

.underline--right-nav-menu::after {
  content: "";
  width: 20px;
  height: 5px;
  position: absolute;
  margin: 30px 50px 0 -18px;
  background: #FFC837;
}

.underline--right-follow::after {
  content: "";
  width: 50px;
  height: 5px;
  position: absolute;
  margin: 30px 0 0 -50px;
  background: #FFC837;
}

.underline--left-title::after {
  content: "";
  width: 50px;
  height: 5px;
  position: absolute;
  margin: 35px 0 0 -425px;
  background: #FFC837;
}

.underline--left-section::after {
  content: "";
  width: 60px;
  height: 12px;
  position: absolute;
  margin: 95px 0 0 -247px;
  background: #FFC837;
}

/* Nav Styles */

.navbar {
  z-index: 1;
  width: 100%;
  margin: 75px auto 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.075em;
  color: #F4F4F4;
}

.nav__callus {
  display: flex;
  flex-flow: row nowrap;
}

.nav__menu-switcher {
  display: flex;
  flex-flow: row nowrap;
}

.menu {
  display: flex;
  flex-flow: column nowrap;
}

.menu__unactive {
  display: none;
}

.menu__active {
  display: block;
}

/* Main/Sections Styles*/

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-2col{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.container-hero {
  display: flex;
  flex-flow: column nowrap;
  padding: 250px 0 0 0;
  background-image: url("../media/hero-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__logotype {
  margin: 100px 0 260px 0;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.hero__logotype::before {
  content: "";
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0;
  right: -430px;
  margin: -25px auto 0 auto;
  border: 20px dashed #484C56;
  background: rgba(0,0,0, 0.0);
  z-index: -1;
}

.hero__logotype::after {
  content: "";
  position: absolute;
  width: 240px;
  height: 240px;
  left: 0;
  right: -430px;
  margin: -70px auto 0 auto;
  border: 20px dashed #2A2C31;
  background: rgba(0,0,0, 0.0);
  z-index: -2;
}

.hero__follow {
  display: flex;
  position: absolute;
  left: 8%;
  top: 400px;
}

.hero__encour {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.hero__tag {
  width: 320px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #18191D;
  mix-blend-mode: normal;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23FFC837FF' stroke-width='3' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.hero__tag::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 80px;
  margin: 80px -100px 0 0;
  background: linear-gradient(180deg, rgba(255, 128, 8, 0.2) 0%, rgba(255, 200, 55, 0.2) 100%);
  mix-blend-mode: normal;
  z-index: -1;
}

.container-about-us {
  background-image: url("../media/home-aboutus-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 100px 0;
}

.about-us__map {
  display: flex;
  align-items: center;
}

.about-us__content-wrap {
  max-width: 445px;
  margin: 0 0 30px 100px;
}

.about-us__content-wrap > h3 {
  margin-bottom: 15px;
}

.heading {
  margin: 80px 0 80px 0;
}

.button {
  width: 200px;
  height: 50px;
  margin: 40px 0 40px 0;
  display: block;
  text-align: center;
  line-height: 50px;
  background: #141518;
  border: 2px solid #FFC837;
}

.about-us__content::after {
  content: "";
  position: absolute;
  width: 455px;
  height: 305px;
  margin: -450px 0 0 150px;
  background-image: url("../media/rockets-on-rectangle.svg");
  background-repeat: no-repeat;
  z-index: -1;
}

.map-shadow::before {
  content: "";
  position: absolute;
  width: 880px;
  height: 80px;
  margin: 530px 0 0 -930px;
  background-image: url("../media/map-shadow.svg");
  background-repeat: no-repeat;
  z-index: -1;
}

.elipses::before {
  content: "";
  width: 620px;
  height: 620px;
  left: 0;
  margin: 0 0 0 -310px;
  position: absolute;
  background-image: url("../media/big-elipse.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.elipses::after {
  content: "";
  width: 320px;
  height: 320px;
  left: 0;
  margin: 0 0 0 -160px;
  position: absolute;
  background-image: url("../media/small-elipse.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

/* Footer Styles */

.footer__wrapper{
  min-height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0 auto;
}

.footer__copyright {
  margin: 0 20% 0 0;
}

.footer__contact {
  margin: -30px 0 0 15%;
}

.footer__quick-nav {
  margin: 20px 0 0 100px;
}

.footer__contact > h5 {
  margin-bottom: 32px;
}

.footer__quick-nav > h5 {
  margin-bottom: 32px;
}

.footer--span {
  color: #EB5757;
}

/* Media */